<a href="https://colab.research.google.com/github/19pa1a0432/chitturi-gopi-sai-teja/blob/master/AI_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
a=44
b=9
if a>b :
  print( "largest =" ,a)
else:
  print( "largest =",b)

largest = 44

In [6]:
n= int (input(" enter a range"))
for i in range (n):
  if i% 2 == 0:
    print( i)

 enter a range90
0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88

In [7]:
n= int (input(" enter a range"))
for i in range (n):
  if i% 2 != 0:
    print( i)

 enter a range67
1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65